<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flood Prediction System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>

<body>

    <div class="container">

        <h1>🌊 Flood Prediction System</h1>

        <p class="subtitle">
            AI & Machine Learning Based Flood Prediction
        </p>

        <div class="card">

            <h2>About the Project</h2>

            <p>
                Floods are one of the most dangerous natural disasters. This application
                predicts flood occurrence using Machine Learning algorithms based on
                rainfall and weather conditions.
            </p>

            <h2>Objectives</h2>

            <ul>
                <li>Predict flood occurrence.</li>
                <li>Provide early warning.</li>
                <li>Support disaster management.</li>
                <li>Reduce loss of life and property.</li>
            </ul>

            <a href="/index">
                <button class="btn">Get Started</button>
            </a>

        </div>

    </div>

</body>

</html>2
